{% extends 'base.html.twig' %}
{% block body %}

<section>

{% if app.user %}

<h1>Editez un membre du staff</h1>
{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.lastName) }}
{{ form_row(form.profession) }}
{{ form_row(form.email) }}

<button type="submit" class="btn" style="border: 1px solid black">Editez le membre au staff</button>
{{ form_end(form) }}
</section>
{% endif %}
{% endblock %}